@charset "utf-8";
.no-scroll {
    overflow: hidden !important;
    height: 100%;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #000;
    position: fixed;
    z-index: 99999;
    padding: 0 120px;
    display: flex;
    align-items: center;
}
.header_logo img{
    width: unset;
    height: unset;
    margin-right: 150px;
}
.header_menu_item_P{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header_menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.header_menu{
    display: flex;
    height: 100%;
    transition: 0.3s;
}
.header_menu.active{
    visibility: hidden;
    opacity: 0;

}
.header_menu_item{
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.header_menu_item_sub{
    width: 100%;
    position: absolute;
    top: 95%;
    left: 0;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #111111;
    visibility: hidden;
    opacity: 0;
    z-index: -9;
    transition: 0.3s;
}
.header_menu_item_sub.active{
    z-index: 999;
    visibility: visible;
    opacity: 1;
}
.header_menu_item_sub_p{
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 12px;
    line-height: 24px;
    background-color: #111111;
    transition: 0.3s;
}
.header_menu_item_sub_p:hover{
    color: #BF1920;
}
.hamburger_but{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 26px;
    cursor: pointer;
    position: relative;
}
.hamburger_but span{
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: 0.3s;
}
.hamburger_but.active .hamburger_but_span2{
    visibility: hidden;
    opacity: 0;
}
.hamburger_but.active .hamburger_but_span1{
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 0;
}
.hamburger_but.active .hamburger_but_span3{
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 0;
}
.hamburger_submenu{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    position: fixed;
    z-index: -9;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
.hamburger_submenu.active{
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}
.hamburger_submenu_line{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -9;
}
.hamburger_submenu_item{
    width: 15%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    transition: 0.5s;
}
.hamburger_submenu_item1:hover{
    background: url(../images/index/hamburger_submenu_item1.png) no-repeat center center;
    background-size: cover;
}
.hamburger_submenu_item2:hover{
    background: url(../images/index/hamburger_submenu_item2.png) no-repeat center center;
    background-size: cover;
}
.hamburger_submenu_item3:hover{
    background: url(../images/index/hamburger_submenu_item3.png) no-repeat center center;
    background-size: cover;
}
.hamburger_submenu_item4:hover{
    background: url(../images/index/hamburger_submenu_item4.png) no-repeat center center;
    background-size: cover;
}
.hamburger_submenu_item5:hover{
    background: url(../images/index/hamburger_submenu_item5.png) no-repeat center center;
    background-size: cover;
}
.hamburger_submenu_item h1 {
    font-size: 40px;
    color: transparent; /* 글자색 투명으로 설정 */
    -webkit-text-stroke: 0.5px white; /* 텍스트에 태두리 추가 */
    margin: 0; /* 기본 마진 제거 */
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}
.hamburger_submenu_item:hover .hamburger_submenu_item_h1{
    color: #ffffff;
}

.hamburger_submenu_item_p_box{
    height: 0%;
    overflow: hidden;
    padding-left:3px;
    transition: 0.5s;
}
.hamburger_submenu_item_p_box.active{
    height: 70%;
}
.hamburger_submenu_item_p{
    font-size: 17px;
    color: #ffffff;
    margin-top: 30px;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;
}
.hamburger_submenu_item_p:hover{
    color: #BF1920;
}
.banner{
    width: 100%;
    display: flex;
}
.banner_area1{
    width: 41.9792%;
    position: relative;
}
.banner_area2{
    width: 58.0208%;
    column-count: 2; /* 2개의 컬럼으로 나눔 */
    background-color:#000000;
    margin-top: 100px;
}
.banner_area1_slide{
    position: fixed;
    width: 41.9792%;
    height: 100vh;
    top: 100px;
    left: 0;
}
.banner_area1_slide.active{
    position: absolute;
    top: inherit;
    bottom: 0px;
    width: 100%;
}
.banner_area1_slide_item{
    height: calc(100vh - 100px) !important;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.banner_area1_slide.active .banner_area1_slide_item{
    height: 100vh !important;
}
.banner_area1_slide_item_img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 105%;
    height: 105%;
}
.banner_area1_slide_item_img2{
    z-index: 9;
    visibility: visible;
    opacity: 1;
}
.banner_area1_slide_item_img2{
    z-index: -9;
    visibility: hidden;
    opacity: 0;
}
.banner_area1_slide_item:hover .banner_area1_slide_item_img1{
    z-index: -9;
    visibility: hidden;
    opacity: 0;
}
.banner_area1_slide_item:hover .banner_area1_slide_item_img2{
    z-index: 9;
    visibility: visible;
    opacity: 1;
}
.banner_area2_item{
    width: 100%;
    display: inline-block; /* 이 속성을 추가하여 박스가 올바르게 표시되도록 함 */
    padding: 50px;
    background-color:#000000;
}
.banner_area2_item_imgbox{
    cursor: pointer;
    position: relative;
}
.banner_area2_item_imgbox_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    z-index: -9;
    background-color: #00000085;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; 
    opacity: 0;
    transition: 0.3s;
    border: 1px solid #B5B5B5;
}
.banner_area2_item_imgbox_hover_span{
    font-size: 20px;
    font-weight:700;
    color: #ffffff;
    padding:10px  12px;
    border-radius: 50px;
    border: 1px solid #B5B5B5;
    transition: 0.3s;
}
.banner_area2_item_imgbox_hover_span:hover{
    background-color:#BF1920;
}
.banner_area2_item_imgbox:hover .banner_area2_item_imgbox_hover{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}

.banner_area1_slide_butbox{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner_area1_slide_butbox_item{
    top: unset !important;
    left: unset !important;
    right: unset !important;
    width: 60px !important;
    height: 60px !important;
    position: unset !important;
    margin: unset !important;
    z-index: 99;
    cursor: pointer;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.banner_btm_text_anim{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    background-color: #000000;
    height: 120px;
    display: flex;
    align-items: center;
    border-top: 1px solid #B5B5B5;
    border-bottom: 1px solid #B5B5B5;
  }
  
.text_slide{
    display: inline-block;
    padding-left: 100%; /* 시작할 때 오른쪽에서 시작되게 한다. */
    animation: marquee 50s linear infinite; /* 15초 동안 애니메이션을 반복한다. 시간은 조절 가능 */
}
  .canon {
    color: #BF1920 !important;
    -webkit-text-stroke: 0; /* 테두리를 제거합니다 */
    text-stroke: 0; /* 표준 속성도 추가 */
}
.text_slide p{
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: transparent; /* 텍스트의 내용색을 투명하게 만듭니다 */
    background-color: transparent; /* 배경색은 투명하게 */
    -webkit-background-clip: text; /* 배경색이 텍스트에만 적용되도록 설정 */
    border: none; /* 테두리 제거 */
    font-weight: bold; /* 글씨를 굵게 */
}
.text_slide p {
    text-stroke: 1px #ffffff; /* 웹킷 기반 브라우저에 대한 텍스트 테두리 */
    -webkit-text-stroke: 1px #ffffff; /* 크롬, 사파리 등의 브라우저 */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.banner_popup{
    width: 100vw;
    height: 100vh;
    background-color: #000000dc;
    position: fixed;
    top: 0;
    left: 0;
    padding: 80px 120px;
    z-index: 999999;
    display: none;
}  
.banner_popup_area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.banner_popup_img img{
    width: unset;
    height: unset;
}
.banner_popup_h2{
    color: #c2c2c2;
    font-size: 28px;
    font-weight: 500;
}
.banner_popup_h1{
    color: #c2c2c2;
    font-size: 48px;
    font-weight: 600;
}
.banner_popup_p{
    color: #c2c2c2;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.close_popup {
    position: absolute;
    top: 10%;
    right: 10%;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
/* 섹션1 */
.section_1{
    padding: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section_1_title{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.section_1_h{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.section_1_span{
    color: #BF1920;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.section_1_title_buts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
}
.section_1_title_but{
    color: #B5B5B5;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
    position: relative; /* 가상요소의 위치를 기준으로 설정 */
    display: inline-block; /* 컨텐츠 크기만큼의 너비를 가지게 설정 */
    transition: 0.3s;
}
.section_1_title_but::after {
    content: ''; /* 가상요소는 content 속성이 반드시 필요 */
    position: absolute; /* 절대 위치 지정 */
    bottom: -2px; /* 텍스트 아래에 위치 */
    left: 0; /* 왼쪽에서 시작 */
    width: 0%; /* 부모 요소의 전체 너비 */
    height: 3px; /* 밑줄 두께 */
    background-color: black; /* 밑줄 색상 */
    transition: 0.3s;
}

.section_1_title_but.click::after {
    content: ''; /* 가상요소는 content 속성이 반드시 필요 */
    position: absolute; /* 절대 위치 지정 */
    bottom: -2px; /* 텍스트 아래에 위치 */
    left: 0; /* 왼쪽에서 시작 */
    width: 100%; /* 부모 요소의 전체 너비 */
    height: 3px; /* 밑줄 두께 */
    background-color: black; /* 밑줄 색상 */
    transition: 0.3s;
}

.click{
    color: #000;
}

.section_1_refresh{
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin: 0 0 95px 5px;
}
.section_1_refresh_p1{
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_1_refresh_click{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
    padding: 6px 12px;
    border-radius: 25px;
    border: 1px solid #DBDBDB;
    margin-top: 16px;
    cursor: pointer;
}
.section_1_refresh_p2{
    color: #747474;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_1_slide{
    position: relative;
    width: 100%;
    height: 385px;
}
.section_1_slide_1{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: -9;
    transition: 0.3s;
}
.section_1_slide_1.active{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
.section_1_slide_2{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0; 
    visibility: hidden;
    opacity: 0;
    z-index: -9;
    transition: 0.3s;
}
.section_1_slide_2.active{
    visibility: visible;
    opacity: 1;
    z-index: 99;
}
.section_1_slide_items{
    height: 300px !important;
    position: relative !important;
}
.section_1_slide_items_h1{
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(181, 181, 181);
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-decoration-line: underline;
    z-index: 99;
}
.section_1_slide_item{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #E6E6E6;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #FFF;
    overflow: hidden;
    cursor: pointer;
}
.section_1_slide_item_img_hover{
    background: rgba(0, 0, 0, 0.60);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 20px;
    position: absolute;
    top: 0;
    left: 105%;
    justify-content: center;
    transition: 0.3s;
}
.section_1_slide_item_img_hover p{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_1_slide_item_imgbox img{
    transition: 0.3s;
}
.section_1_slide_item:hover .section_1_slide_item_img_hover{
    left: 50%;
}
.section_1_slide_item:hover .section_1_slide_item_imgbox img{
    transform: scale(1.2);
}

.section_1_slide_buts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.section_1_slide_buts_p{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.swiper-button-prev,
.swiper-button-next{
    top: unset !important;
    left: unset !important;
    right: unset !important;
    width: 60px !important;
    height: 60px !important;
    position: unset !important;
    margin: unset !important;
    z-index: 99;
    cursor: pointer;
}
.section_1_slide_buts img{
    width: unset !important;
    height: unset;
}
/* 섹션2 */
.section_2{
    border-top: 1px solid #B5B5B5;
    padding: 120px 200px;
}
.section_2_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.section_2_item{
    height: 350px;
    position: relative;
    overflow: hidden;
}
.section_2_item_ck{
    position: unset;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.section_2_item_ck h1{
    color: #111;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section_2_item_ck h1 i{
    color: #BF1920;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.section_2_item_ck_items{
    display: flex;
    gap: 20px;
}
.section_2_item_ck_item{
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}
.section_2_item_ck_item.active{
    opacity: 1;
}
.section_2_item_pa{
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: -9;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    top: 0;
    left: 0;
}
.section_2_item_pa.active{
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.section_2_item_in_imgbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.section_2_item_in_hoverbox{
    width: 100%;
    height: 100%;
    background-color: #00000085;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.section_2_item_pa:hover .section_2_item_in_hoverbox{
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.section_2_item_in_img{
    transition: 0.3s;
}
.section_2_item_pa:hover .section_2_item_in_img{
 transform: scale(1.2);
}
.section_2_item_in_hoverbox_svg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.section_2_item_in_hoverbox_svg p{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section_2_item_fb_hoverbox{
    width: 100%;
    height: 100%;
    background-color: #00000085;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.section_2_item_fb_hoverbox p{
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.section_2_item_fb_imgbox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_2_item_fb:hover .section_2_item_fb_hoverbox{
    z-index: 9;   
    visibility: visible;
    opacity: 1;
}
.section_2_item_fb_img{
    transition: 0.3s;
}
.section_2_item_fb:hover .section_2_item_fb_img{
    transform: scale(1.2);
}
.section_2_item_tw_hover{
    width: 100%;
    height: 100%;
    background-color: #00000085;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}
.section_2_item_tw_hover p{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.section_2_item_tw:hover .section_2_item_tw_hover{
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.section_2_item_tw_imgbox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_2_item_tw_imgbox{
    transition: 0.3s;
}
.section_2_item_tw:hover .section_2_item_tw_imgbox{
    transform: scale(1.2);
}
.footer{
    display: flex;
    border-top: 1px solid #111111;
    width: 100%;
}
.footer_area{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.footer_area_2{
    border-left: 1px solid #111111;
}
.footer_area_top{
    width: 100%;
    padding: 16px 60px;
    background: #f4f4f4;
    display: flex;
    gap: 12px;
    border-bottom: 1px solid #111111;
    height: 55px;
    align-items: baseline;
}
.footer_area_top2{
    padding: 16px 30px;
}
.footer_area_top h1{
    font-size: 14px;
    font-weight: 600;
}
.footer_area_top h2{
    font-size: 14px;
    font-weight: 500;
}
.footer_area_top p{
    font-size: 12px;
    font-weight: 500;
    color: #666;
}
.footer_area_bottom{
    padding: 60px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;    
    height: 400px;
}
.footer_area_bottom img{
    width: unset;
    height: unset;
}
.footer_area_bottom_txts{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.footer_area_bottom_txt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}
.footer_area_bottom_txt p{
    font-weight: 500;
    font-size: 13px;
    color: #000;
}
.footer_area_bottom_logo{
    margin-bottom: 18px;
    display: flex;
}
.footer_area_bottom_txt i{
    font-weight: 500;
    font-size: 13px;
    color: #999;
    font-style: normal;
}
.footer_area_bottom_imgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-top: 24px;
    gap: 24px;
}
.footer_area_bottom_img{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.footer_area_bottom_img p{
    font-weight: 500;
    font-size: 11px;
    color: #000;
}
.footer_area_bottom2{
    width: 100%;
    display: flex;
}
.footer_area_bottom2_item{
    width: 50%;
    height: 100%;
    padding:30px 30px;
}
.footer_area_bottom2_r{
    border-left: 1px solid #111111;
}
.footer_area_bottom2_item_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.footer_area_bottom2_item h1{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
}
.footer_area_bottom2_item_grid p{
    font-weight: 500;
    font-size: 13px;
    color: #000;
    cursor: pointer;
}
.footer_area_bottom2_item_svg{
    display: flex;
    gap: 6px;
    margin-top: 36px;
}
.footer_area_bottom2_item_svg_item{
    cursor: pointer;
}
.footer_area_bottom2_r h1{
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin-bottom: 24px;
}
.footer_area_bottom2_r p{
    font-weight: 500;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    margin-bottom: 10px;
}
.footer_area_bottom2_r_hover{
    display: flex;
    align-items: center;
    margin-top: 48px;
}
.footer_area_bottom2_r_hover_item{
    cursor: pointer;
    position: relative;
    width: 40%;
}
.footer_area_bottom2_r_hover_itemm{
    position: absolute;
    top: 70%;
    left: 0;
    border: 1px solid #000;
    visibility: hidden;
    opacity: 0;
    z-index: -9;
    transition: 0.3s;
}
.footer_area_bottom2_r_hover_itemm p{
    padding:8px 16px 8px 6px;
    transition: 0.3s;
    margin-bottom: unset;
}
.footer_area_bottom2_r_hover_itemm p:hover{
    background-color: #BF1920;
    color: #ffffff;
}
.footer_area_bottom2_r_hover_item:hover .footer_area_bottom2_r_hover_itemm{
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.footer_area_top2_slide{
    width: 85%;
    height: 100%;
    overflow: hidden;
}
.footer_area_top2_masking{
    width: 100% !important;
    height: 500% !important;
}
.footer_area_top2_slidetxt{
    white-space: nowrap !important; /* 텍스트 줄바꿈 방지 */
    overflow: hidden !important; /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis !important; /* "..."로 생략 처리 */
    cursor: pointer;
}